<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 운영(prod): JSON 구조화 로그 → Cloud Logging 파싱 최적 -->
    <springProfile name="prod">
        <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <fieldNames>
                    <timestamp>timestamp</timestamp>
                    <message>message</message>
                    <logger>logger</logger>
                    <level>severity</level>
                    <thread>thread</thread>
                </fieldNames>
                <includeMdcKeyName>traceId</includeMdcKeyName>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="JSON_CONSOLE"/>
        </root>
    </springProfile>

    <!-- 로컬/기타 환경: 가독성 높은 텍스트 로그 -->
    <springProfile name="!prod">
        <appender name="TEXT_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%X{traceId:--}] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="TEXT_CONSOLE"/>
        </root>
    </springProfile>

</configuration>
